---

- name: Provision SSH keys
  include: provision_ssh.yml

- name: Gather facts for computes
  include: gather_facts.yml
  when: component_action == "destroy"

- name: Load existing ncrtxapp credentials from GCP secrets
  hosts: localhost
  connection: local
  tasks:
  - include_role:
      name: secret_management
      tasks_from: load_gcp_userpass.yml
  - name: Generate new username
    set_fact: ncrtxapp_new_user="{{ lookup('password', '/dev/null length=8 chars=ascii_letters') | lower }}"
    when: component_action == "apply"
  - name: Generate random password for the new user
    set_fact: ncrtxapp_new_password="{{ lookup('password', '/dev/null length=20 chars=ascii_letters,digits') }}"
    when: component_action == "apply"
    no_log: "{{ noLogEnabled | default(true) | bool }}"
  vars:
    userpass_id: ncrtxapp
    gcp_secret_project: "{{ lookup('env', 'GLOBAL_GCP_PROJECT') }}"
    gcp_secret_deployment_id: "{{ lookup('env', 'GLOBAL_DEPLOYMENT_ID') }}"

- name: Fetch all Compute hosts
  hosts: localhost
  connection: local
  gather_facts: yes
  tasks:
    - include_role:
        name: fetch_computes
      run_once: true
      when: component_action == "apply" or component_action == "destroy"

- name: Rotate cassandra and elasticsearch credentials
  hosts: localhost
  connection: local
  gather_facts: no
  tasks:
  - include_role:
      name: key_rotation
      tasks_from: create-credentials.yml
    run_once: true
    when: component_action == "apply"
  vars:
    userpass_id: ncrtxapp
    gcp_secret_project: "{{ lookup('env', 'GLOBAL_GCP_PROJECT') }}"
    gcp_secret_deployment_id: "{{ lookup('env', 'GLOBAL_DEPLOYMENT_ID') }}"
    

- name: Update ncrtxapp credentials with new username and password
  hosts: localhost
  connection: local
  tasks:
  - include_role:
      name: secret_management
      tasks_from: update_gcp_userpass.yml
    when: component_action == "apply" 
  vars:
    userpass_id: ncrtxapp
    gcp_secret_project: "{{ lookup('env', 'GLOBAL_GCP_PROJECT') }}"
    gcp_secret_deployment_id: "{{ lookup('env', 'GLOBAL_DEPLOYMENT_ID') }}"
    ncrtxapp_new_user: "{{ncrtxapp_new_user}}"
    ncrtxapp_new_password: "{{ncrtxapp_new_password}}"

- name: Delete cassandra and elasticsearch old credentials
  hosts: localhost
  connection: local
  gather_facts: yes
  tasks:
  - include_role:
      name: key_rotation
      tasks_from: delete-credentials.yml
    run_once: true
    when: component_action == "destroy"
  vars:
    userpass_id: ncrtxapp
    gcp_secret_project: "{{ lookup('env', 'GLOBAL_GCP_PROJECT') }}"
    gcp_secret_deployment_id: "{{ lookup('env', 'GLOBAL_DEPLOYMENT_ID') }}"
    
