---
- name: Authorize Playbook Dependencies
  hosts: 
    - "{{ group_bastion | default('_bastion') }}"
  gather_facts: no
  tasks:
  - name: Provision SSH Key on Resource
    include_role:
      name: compute_ssh_key
    when: component_action == "apply" and es_name is defined

- name: Authorize Playbook Dependencies
  hosts: 
    - "{{ group_elasticsearch | default('_elasticsearch') }}"
  gather_facts: no
  tasks:
  - name: Provision SSH Key on Resource
    include_role:
      name: compute_ssh_key
    when: component_action == "apply" and es_name is defined

- name: Role for rotating elasticsearch key
  hosts: "{{ group_elasticsearch | default('_elasticsearch') }}"
  gather_facts: no
  vars:
    es_home: "/usr/share/elasticsearch"
    es_host: "localhost"
    es_port: 9200
    work_dir: "/root/ncr/scripts"
    service_account_name: "{{ es_name }}{{ lookup('env', 'GLOBAL_DEPLOYMENT_ID') }}"
    es_type: "{{ es_name }}"
    project_id: "{{ lookup('env', 'GLOBAL_GCP_PROJECT') }}"
    certs_location: "/etc/elasticsearch/certs"
    es_secured: "{{ es_security_enabled | bool | default(false, false) }}"
  tasks:
  - name: Rotate the elasticsearch key
    include_role:
      name: key_rotation
      tasks_from: rotate_key_es_recovery.yml
    when: component_action == "apply" and es_name is defined

- name: Role for deleting oldest elasticsearch key
  hosts: "{{ group_elasticsearch | default('_elasticsearch') }}"
  gather_facts: no
  vars:
    service_account_name: "{{ es_name }}{{ lookup('env', 'GLOBAL_DEPLOYMENT_ID') }}"
    project_id: "{{ lookup('env', 'GLOBAL_GCP_PROJECT') }}"
  tasks:
  - name: Delete the oldest service account key
    include_role:
      name: key_rotation
      tasks_from: delete_service_account_key.yml
    when: component_action == "destroy" and es_name is defined
