- name: Terraform Resource
  hosts: localhost
  vars:
    component_type: firewall_rules
    tf_action: "{{ component_action }}"
    tfvar_environment: "{{ tfvar_environment }}"
    component_name: "{{ component_name }}"
    deployment_id: "{{ lookup('env', 'GLOBAL_DEPLOYMENT_ID') }}"
    build_workspace: "{{ lookup('env', 'WORKSPACE') }}"
    network_project: "{{ lookup('env', 'GCP_HOSTED_PROJECT_ID') }}"
    gke_firewall: true
    masterCidr: true
    regionName: "{{db_region_suffix}}"
  tasks:
    - name: Check if primary subnet already exists
      shell: gcloud compute networks subnets list --project={{network_project|quote}} --format="value(NAME,ipCidrRange)" | grep '{{deployment_id}}-{{regionName}}-snet'
      failed_when: false
      register: primary_subnet_exist

    - set_fact:
        primary_subnet_range: "{{primary_subnet_exist.stdout.split('\t')[1]}}"
      when: primary_subnet_exist.stdout | length > 0

    - name: Read the plan file to grep primary subnet IPs
      shell: grep -E -om 1 '([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]{2}' "{{ lookup('env', 'WORKSPACE') }}/subnet_primary_{{regionName}}_plan.txt"
      register: primary_ip
      when: not primary_subnet_exist.stdout | length > 0

    - set_fact:
        primary_subnet_range: "{{ primary_ip.stdout }}"
      when: primary_ip.stdout is defined

    - include_role:
        name: networks
        tasks_from: check_master_cidr.yml
      vars:
        gke_region: "{{ regionName }}"

    - name: Read the plan file to check if current masterIP is the same as what was planned
      when: tf_action == 'apply'
      shell: cat {{ build_workspace }}/{{ component_name }}_plan.txt
      register: plan_file

    - debug:
        msg: "{{ plan_file }}"

    - set_fact:
        replan: true
      when:
        - tf_action == 'apply'
        - master_ipv4_cidr_block not in plan_file.stdout
        - plan_file.stdout.find('Infrastructure is up-to-date.') == -1

    - name: Create default.tfvars
      include_role:
        name: networks
        tasks_from: firewall_rules.yml
    - name: Replan GKE firewall
      when: replan is defined and replan is true
      vars:
        tf_action: "plan"
        plan_artifact: "{{ component_name }}_plan.txt"
      include_role:
        name: terraform

    - name: Run tf
      include_role:
        name: terraform
